body {
  font-family: Roboto;
}

.main-app {
  text-align: center;
}

.logo-image {
  animation: logo-image-spin infinite 20s linear;
  height: 80px;
}

.header-section {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

@keyframes logo-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-title {
  color:lightblue;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
textarea {
  border: 2px solid lightblue;
  border-radius: 4px;
}

label {
  padding-right: 10px;
  display: block;
}

.submit-button {
  border: 2px solid lightblue;
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
}

.submit-button:hover {
  border: 2px solid #00BFFF;
  background-color: #00BFFF;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
}

input[type="radio"]:hover {
  cursor: pointer;
}

select {
  font-size: 18px;
}

#radio-buttons label {
  display: inline;
}

.form-inputs {
  margin-bottom: 15px;
}










